body {
    background-color: wheat;
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    flex-direction: column;
    height: 100vh;
    place-self: center;
    font-family: system-ui;
    margin-left: 40vw;
    padding: 7px;
}

.signup-inputs {
    margin-top: 20vh;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #DF553D;
    background-color: #bca0e4;
    color: #eff1f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

}
.signup-btn {
    border-radius: 2px;
    background-color: #11c0d7;
    color: #eff1f3;
    margin-top: 18px;
    width: 100px;
    height: 30px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    font-weight: 700;

}

.username-input {
    color: rgb(202, 6, 6);
    padding: 1vw 1vw;
    /* padding-top: 1vw; */
}

.password-in {
    color: rgb(202, 6, 6);
    padding: 1vw 1vw;
    /* padding-top: 1vw; */
}

.email-in {
    color: rgb(202, 6, 6);
    padding: 1vw;
    /* padding-top: 1vw; */
}



