/* DIV CONTAINING THE NAVBAR CONTAINER. I KNOW. */
.navbar-container {
    position: fixed;
    z-index: 1;
    grid-area: 1 / 1 / 2 / 4;
    box-shadow: 0 3px 10px black;
    border-bottom: medium solid #DF553D;
    background-color: #2E363E;
    width: 100vw;
    height: 121px;
}

/* DIV CONTAINING ALL THE NAVBAR ELEMENTS */
/* grid-area: <row-start> / <column-start> / <row-end> / <column-end> */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #88C1EB;
    max-width: 1920px;
}

/* DIV CONTAINING WELCOME TEXT */
div.navbar-welcome-title {
    margin-top: 40px;
    order: 2;
}
